@font-face {
    font-family: ARCO;
    src: url('/fonts/ARCO.ttf');
}

html, body {
    background-color: black;
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
}

.modal 
{
    width: 50vw;
    height: 50vh;
    height: calc(var(--vh, 1vh) * 50);
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    border: 4px solid #bbb;
    overflow: hidden;

    font-family: ARCO;
    top: 0;
    background-color: #620380;
}

al {
    list-style-type: none;
    margin: 0;
    padding: 0;
    border: 4px solid #bbb;
    overflow: hidden;

    font-family: ARCO;
    top: 0;
    background-color: #620380;
}

li {
    float: inline-start;
    border-right: 4px solid #bbb;
}

li a {
    display: block;
    color: white;
    font-size: 37px;
    font-family: ARCO;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}

li a:hover {
    background-color: purple;
}

.active {
    background-color: Fuchsia;
}

@media only screen and (max-width: 803px) {
    ul {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    li {
        float: none;
        width: 100%;
        border-right: none;
        text-align: center;
        margin: 5px 0;
    }

    li a {
        font-size: 24px;
    }

    li img {
        width: 50px;
        height: auto;
        
    }
}

@media only screen and (max-width: 500px) {
    al {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

h1 {
    color: white;
    font-size: 60px;
    font-family: Arial Black;
    width:auto;
}

h2 {
    color: white;
    font-size: 40px;
    font-family: Arial Black;
    width:auto;
}

h3 {
    color: white;
    font-size: 40px;
    font-family: Arial Black;
    width:auto;
}

p {
    color: white;
    font-size: 24px;
    font-family: Arial Black;
}

pre {
    color: white;
    font-size: 24px;
    font-family: Arial Black;
}

footer 
{
    background-color: rebeccapurple;
    text-align: center;
    border-top: 4px solid #bbb;
    border-bottom: 4px solid #bbb;
    padding: 10px;
}

.imageflex { display: flex; }
.imageflexcontent { margin-left: 5px; margin-top: 0; }

.image-container img {
    max-width: 100%;
    height: auto;
    display: block;
}

.image-container {
    padding: 10px;
    margin: auto;
    max-width: 1000px; 
}



@media only screen and (max-width: 700px) {
    .image-container {
        padding: 5px;
        max-width: 100%; 
    }
}
.container 
{
    overflow: hidden;
}

.filterDiv {
    color: black;
    margin: 2px;
    text-align: center;
    font-size: 24px;
    font-family: Arial Black;
    display: none; /* Hidden by default */
}

/* The "show" class is added to the filtered elements */
.show 
{
    display: block;
}

/* Style the buttons */
.btn {
    border: 4px solid #bbb;
    outline: none;
    padding: 14px 20px;
    background-color: #620380;
    cursor: pointer;
    color: white;
    font-size: 30px;
    font-family: ARCO;
}

    /* Add a light grey background on mouse-over */
    .btn:hover 
    {
        background-color: purple;
    }

    .btn:focus 
    {
        background-color: Fuchsia;
        font-weight: bold;
    }

    /* Add a dark background to the active button */
    .btn:active 
    {
        background-color: Fuchsia;
    }

section-title {
    color: white;
    background-color: fuchsia;
    font-size: 40px;
    text-align: center;
    font-family: ARCO;
    padding: 20px;
    margin: auto;
    display: block;
}